:root {
    --bg1: #1a2f42;
    --bg2: #e3e3e3;
    --banner: #c46e04;

  --fontSize: calc((1vw + 1vh));
}

body {
  margin: 0;
  min-width: 250px;
  background-color: #385066; /*__Change to new color*/
  color: var(--bg2);

  background-size: cover;
}

h2 {
  font: var(--fontSize)/250% 'Forte';
  font-size: 250%;
  margin: -35px;
  color: inherit;
}

h3 {
  font: var(--fontSize)/200% 'Berlin Sans FB';
  font-size: 200%;
  color: inherit;
}

pre {
    font: var(--fontSize)/170% 'Berlin Sans FB';
    font-size: 170%;
    color: inherit;
    padding-bottom: 0px;
    padding-top: 0px;
}

* {
  box-sizing: border-box;
}

ul {
    font: var(--fontSize)/170% 'Berlin Sans FB';
    margin: 1;
    padding: 0;
    color: black;

    background: inherit;

    text-align: center;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 0px;

  border-radius: 15px;
  list-style-type: none;

  outline-color: var(--bg1);
  outline-width: 3px;
  outline-style: solid;

  font-size: 18px;

  user-select: none;
}

ul table {
  cursor: pointer;
  position: relative;

  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 0px;

  table-layout: fixed;
  width: 90%;

  border-radius: 15px;
  list-style-type: none;

  background-color: var(--bg2);
  outline-color: var(--bg1);
  outline-width: 3px;
  outline-style: solid;

  font-size: 18px;

  user-select: none;
}

ul table td {
  padding: 12px 8px 12px 40px;
}

.dateUL {
  cursor: pointer;
  position: relative;
  padding: 5px 2px 5px 4px;
  
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 3px;
  
  float: left;
  width: 15%;

  border-radius: 15px;
  list-style-type: none;

  background: #83B8BF;
}

ul table:hover {
    transition: 0.3s;
    background: var(--banner);
    color: var(--bg2);

}

ul table.checked {
  background: var(--banner);
  color: var(--bg2);
  text-decoration: line-through;
}

ul table.unchecked {
  color: var(--bg1);
  text-decoration: none;

}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: var(--bg2);
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 17px 16px 12px 16px;
  border-radius: 15px;

}

.close:hover {
  background-color: #f44336;
  color: white;
}

.header {
  background-color: var(--banner);
  padding: 30px 40px;
  color: var(--bg2);
  text-align: center;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  margin: 0;
}

.in {
  border-width: none;
  border-style: hidden;
  margin-right: 5px;
  border-radius: 5px;
  width: auto;
  align-content: center;
  text-align: center;

  padding: 10px;
  float: center;
  font-size: 16px;

  color: var(--bg1);
  background-color: var(--bg2);
}

.projectsButton {
  background: var(--bg2);
  font: var(--fontSize)/170% 'Berlin Sans FB';
  color: var(--bg1);
  padding: 10px;
  
  position: relative;
  float: center;

  justify-content: center;
  align-items: center;
  font-size: 16px;
  
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}

.projectsButton:hover {
  background-color: var(--banner);
  color: var(--bg2);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: var(--bg2);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  padding-top: 0px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  color: var(--bg1);
}

.closeModal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeModal:hover, .closeModal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.collapsible {
  background-color: var(--bg2);
  color: var(--bg1);
  border-radius: 20px 20px 0px 0px;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: var(--bg2);
}

.content {
  padding: 0 18px;
  text-align: left;

  display: none;
  overflow: hidden;

  background-color: var(--bg2);
  color: var(--bg1);
}

button {
  outline-style: none;
  padding: 5px 15px 5px 15px;
  font-weight: bold;
  color: var(--bg1);
}

body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

input {
  width: 300px;
  padding: 7px;
}

.ui-state-highlight {
  border: 0 !important;
}

.ui-state-highlight a {
  background: var(--bg1) !important;
  border: var(--bg1);
  color: #fff !important;
}

table.fixed {
  table-layout: fixed;
  width: 100%;
}

table.fixed td {
  overflow: hidden;
}

table.fixed td:nth-of-type(1) {
  width: 33.33%;
}

table.fixed td:nth-of-type(2) {
  width: 33.33%;
}

table.fixed td:nth-of-type(3) {
  width: 33.33%;
}


/*Calender CSS*/ 
.calender{
  display: grid;
  grid-template-columns: 10% 90%;
  /*grid-template-rows: 12% minmax(auto, 67vh); /* ___ ((maxTime+2)-minTime)/2     | eks.  ((22+2)-6)/2 */
  height: 90vh;
  overflow: auto;
  border-radius: 30px
}
.calender-title {
  grid-column: 1/3;
  background-color: var(--banner);
  border-radius: 100px 100px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.calender-time{
  position: relative;
  grid-row: 2/15;
  display: grid;
  background-color: var(--bg1);
}
.calender-tasks { /* Drag -> to this*/
  background-color: var(--bg1);
  position: relative;
  flex: 1;
  grid-row: 2/15;
  padding: 0 10px;
  display: grid;
  /* grid-template-rows: repeat(18, 5.6%); */
}
.calender-tasks-1{
  position: relative;
  top:50%;
  height: 15%; 
}

.calender-tasks div{
  /* font-size: 17px; */
  white-space: nowrap;
  overflow: hidden;
}
.calender-tasks div span, 
.calender-tasks div button{
  display: inline-block;
  margin: 0 10px;
}

/* .calender-tasks div  _________Same as underneath x3*/
.calender-tasks-item{
  border-radius: 20px;
  height: 50px;
  width: 98%;
  background-color: #19456C;
  border: 2px solid black;
  position: relative; /* Add this line */

  /* display: grid;
  grid-template-columns: 35% 25% 25% 5%;
  padding-top: 8px; ___Create other solution: Center verical */

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  cursor: grab;
  padding-top: 6px;
}

.calender-tasks-project{
  border-radius: 20px;
  height: 50px;
  width: 98%;
  background-color: #19456C;
  border: 2px solid black;
  position: relative; /* Add this line */
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  cursor: grab;
  padding-top: 6px; /*___Create other solution: Center verical*/
}



.calender-tasks-school{
  border-radius: 20px;
  height: 50px;
  width: 98%;
  background-color: #4a4a4a;
  border: 2px solid black;
  position: relative; /* Add this line */


  display: flex;
  flex-direction: row;
  justify-content: space-around;

  padding-top: 6px; /*___Create other solution: Center verical*/
}

.calendar-clicked-element{
  border: 2px solid red;
}

.calender-tasks-item-button{
  width: 20%;
  height: 25px;
  background-color: transparent;
  color: red;
}


.calender-tasks-item-button-subtask-view{
  margin-top: 10px;
  width: 40%;
  height: 30px;
  background-color:red;
  font-size: 20px;
  color: white;
}

.wakeUp{
  position: relative;
  top: 90%;
  padding-right: 30px;
  text-align: right;
  border-top: 3px solid var(--banner);
}

.bedtime{
  position: relative;
  top: 0%;
  padding-right: 30px;
  text-align: right;
  border-bottom: 3px solid var(--banner);
}
.currentTime{
  position: relative;
  top: 40%;
  border-bottom: 3px dashed var(--banner);
  text-align: left;
  padding-left: 10px;
}


/*.calenderTable{
  padding: 20px;
  display: grid;
  grid-template-columns: 60%;
  grid-gap: 5px;
  grid-template-rows: repeat(13, 50px) /* 24/2 + 1 = 13*/
/* }
.calenderTableDay{
  margin-top: -25px;
  border-radius: 40px 40px 0 0;
  background-color: var(--banner);
  text-align: center;
}

.calenderTable div{
  background-color: #888;
}
.calenderTable div ul{
  color: var(--bg2);
  padding-left: 10px;
  text-align: left;
  vertical-align: center;
}

.shortBlock{
  align-items: left;
} */

/*ShortBlock:
    ul : time
    li : TaskName
    p1 : TimerPeriod*/

/* .shortBlock p1 {
  align-items: start;
}


.calenderTable div{
  display: grid;
  grid-template-columns: 20% 50% 30%;
  align-items: center;
}
 */

 /* TOP LAYOUT*/
 .page-2{
  margin: 40px;
  display: grid;
  grid-template-columns: 60% 35%;
  grid-gap: 5%;
  grid-template-rows: 90vh;
  overflow: auto;
 }

.ToDo{
  border-radius: 20px;
  padding: 20px;
  background-color: #1a2f42;
  height: 90vh;
  overflow: auto;
  
}

.ToDo-dragable{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-gap: 15px;

  height: 75%;
  overflow: auto;
}

.change-page-button button{
  border-radius: 30px;
  background-color: var(--banner);
  font-size: 20px;
  color: white;
  height: 50px;
  width: 100%;
  cursor: pointer;
}


.change-page-button{
  padding-top: 20px;

}
.ToDo-dragable div{
  background-color: #19456C;
  display: grid;
  cursor: grab;
  grid-template-columns: 40% 30% 0% 30%;
  padding: 10px;
  border-radius: 30px;
}

.calender-task-8 {
  cursor: grab;
}

.calender-task-8.dragging {
  opacity: 0.5;
}

.calender-task-8.drag-over {
  border: 2px dashed #333;
}


.calender-currentTime{
  background-color: #c46e04;
  height: 5px;
  width: 100%;
  z-index: 4;
  opacity: 0.5;
}
.calender-startendtime{
  background-color: #04c44e;
  height: 5px;
  width: 100%;
  z-index: 3;
  opacity: 0.5;
}

.calender-timeline{
  /* background-color: black; */
  /* height:2px; */
  border: black 0.5px solid;
  left:-5px;
  width: 100%;
  z-index: 1;
  opacity: 0.7;
}


/*DRAG*/
.invisible{
  display: none;
}
.hold{
  border: #f44336 solid 4px;
}



/* View more info text */

.calendar-task-more-info{
  /* background-color: #19456C; */
  padding: 10px;
  border-radius: 30px;
  width: 100%;
}
.calendar-groupTaskName-school{
  font-size: 30px;
  font-weight: 600;
}

.calendar-groupTaskName-project{
  font-size: 30px;
  font-weight: 600;
  font-style: italic;
}
.calendar-groupSubtaskName{
  font-size: 28px;
  font-weight: 600;
}

.calendar-groupTaskDuration,
.calendar-groupTaskPeriod{
  font-size: 20px;
}

.view-task{
  background-color: #19456C;
  /* padding: 20px; */
  border-radius: 30px;
  height: 75%;
  width: 100%;

  /* font-size: 20px; */
}

.calendar-task-more-info div{
  margin: 10px 0;
}
.task-view-more-info-button{
  padding-top: 20px;

}
.task-view-more-info-button button{
  background-color: #04c44e;
  border-radius: 30px;
  font-size: 20px;
  color: white;
  height: 50px;
  width: 100%;
  cursor: pointer;
}






/* Settings: */
.settings{
  position: absolute;
  left: 10px;
  top: 10px;
  z-index:8;
}

#settings-image{
  width: 50px;
  height: auto;
  z-index: 7;
}

.settings-overlay{
  position: absolute;
  left: 80px;
  top: 80px;

  width: 80vw;
  height: 80vh;
  background-color: #4a4a4a;
  border-radius: 30px;
  z-index: 6;

  padding: 40px;
}

.settings-overlay div{
  margin: 20px 0;
}

.settings-title{
  font-size: 35px;
  font-weight: 600;
}
.settings-overlay div input{
  margin-left: 20px;
  border-radius: 10px;
  font-size: 20px;
}

.settings-overlay div span{
  font-size: 20px;
}


.calendar-background-overlay{
  background-color: rgba(0,0,0,0.4);
  z-index: 5;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.settings-confirm-button{
  background-color: #1d6539;
  position: absolute;
  bottom: 30px;
  right: 30px;
  color: white;
  font-size: 25px;
  width: 40%;
  height: 60px;
  border-radius: 10px;
  cursor: pointer;
}

.settings-deny-button{
  background-color: rgb(143, 37, 37);
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: white;
  font-size: 25px;
  width: 40%;
  height: 60px;
  border-radius: 10px;
  cursor: pointer;
}