:root 
{
  --bg1: #1a2f42;
  --bg2: #e3e3e3;
  --banner: #c46e04;

  --fontSize: calc((1vw + 1vh));
}

body 
{
  margin: 0;
  min-width: 250px;
  background-color: var(--bg1);
  color: var(--bg2);

  text-align: center;
}

h2 
{
  font: var(--fontSize)/250% 'Forte';
  font-size: 250%;
  margin: -35px;
  color: inherit;
}

h3
{
  font: var(--fontSize)/200% 'Berlin Sans FB';
  font-size: 200%;
  color: inherit;
}

pre 
{
    font: var(--fontSize)/170% 'Berlin Sans FB';
    font-size: 170%;
    color: inherit;
    padding-bottom: 0px;
    padding-top: 0px;
}

* 
{
  box-sizing: border-box;
}

ul 
{
  font: var(--fontSize)/170% 'Berlin Sans FB';
  color: black;
  background: inherit;
  padding-inline-start: 0px;
}

.modalTitle
{
  text-align: center; 
  margin-top: -0px; 
  margin-bottom: -15px;
}

.header 
{
  padding: 30px 40px;
  color: var(--bg2);
  background-color: var(--banner);
}

.projectsButton 
{
  background: var(--bg2);
  font: var(--fontSize)/170% 'Berlin Sans FB';
  color: var(--bg1);
  padding: 10px;
  
  position: relative;
  float: center;

  justify-content: center;
  align-items: center;
  font-size: 16px;
  
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}

.deleteButton
{
  float:right; 
  background-color: red;
}

.projectsButton:hover 
{
  background-color: var(--banner);
  color: var(--bg2);
}

.modal 
{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content 
{
  background-color: var(--bg2);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  padding-top: 0px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  color: var(--bg1);
}

.flexDirectionRow 
{
  display: flex;
  flex-direction: row;
}

.closeModal 
{
  color: #aaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

.closeModal:hover, .closeModal:focus 
{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.collapsible 
{
  background-color: var(--bg2);
  color: var(--bg1);
  border-radius: 20px 20px 0px 0px;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover 
{
  background-color: var(--bg2);
}

.content 
{
  padding: 0 18px;
  text-align: center;

  display: none;
  overflow: hidden;

  background-color: var(--bg2);
  color: var(--bg1);
}

button 
{
  outline-style: none;
  padding: 5px 15px 5px 15px;
  font-weight: bold;
  color: var(--bg1);
}

body::-webkit-scrollbar 
{
  display: none;
}

body 
{
  font-family: Arial, Helvetica, sans-serif;
}

input 
{
  width: 300px;
  padding: 7px;
}


.projectName 
{
  font-family: 'Berlin Sans FB';
  font-size: xx-large;
  background-color: var(--bg2);
  border: none;
  width: 100%;
  margin-top: 5px;
  text-align: center;
  color: var(--bg1);
  outline-style: none;
}