ul table 
{
    position: relative;
  
    margin: 5px 5% 0px 5%;
  
    table-layout: fixed;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 90%;
  
    border-radius: 15px;
    list-style-type: none;
  
    background-color: var(--bg2);
    outline-color: var(--bg1);
    outline-width: 3px;
    outline-style: solid;
  
    font-size: 18px;
  
    user-select: none;
}

.container
{
    position: relative;
    right: 0px;
}

.checked, .unchecked
{
    display: block;
    position: absolute; 

    left: 5px;
    top: 30%;

    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    height: 25px;
}

.checked
{
    background-color: green;
}

.unchecked
{
    background-color: #eee;

}

/* The container */
.checkmarkContainer {
    display: block;
    position: absolute; 

    left: 5px;
    top: 30%;

    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    
}
  
  /* Hide the browser's default checkbox */
.checkmarkContainer input 
{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
/* Create a custom checkbox */
.checkmark 
{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
  
/* On mouse-over, add a grey background color */
.checkmarkContainer:hover input ~ .checkmark {
    background-color: #ccc;
}
  
  /* When the checkbox is checked, add a blue background */
  .checkmarkContainer input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkmarkContainer input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkmarkContainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.project
{
    outline-color: var(--banner);
}

.elementText
{
    margin: auto;
}

.content 
{
    padding-bottom: 5px;
    background-color: #112232;
    outline-color: #112232;
    display: none;
    overflow: hidden;
}

.settingDots
{
    position: absolute;
    right: 5px;
    top: 0;
    margin: 2px;
    padding: 0px 3px 0px 3px;
    border-radius: 15px;
    border: 3px solid var(--bg1);
    cursor: pointer;
}

.addProject 
{
    position: absolute;
    right: 100px;
    top: 0;
    margin: 2px;
    padding: 0px 8.5px 0px 8.5px;
    border-radius: 15px;
    border: 3px solid red;

    font-size: small;
}
.addProject:hover 
{
    background-color: red;
    color: white;
}

.addTask 
{
    position: absolute;
    right: 25px;
    top: 0;
    margin: 2px;
    padding: 0px 8.5px 0px 8.5px;
    border-radius: 15px;
    border: 3px solid green;

    font-size: small;
}
.addTask:hover 
{
    background-color: green;
    color: white;
}