ul table 
{
    position: relative;
    float: right;
  
    margin: 0px 5px 5px 5%;

    table-layout: fixed;
    width: 95%;
  
    border-radius: 15px;
  
    background-color: var(--bg2);
    border: var(--bg2) 3px solid;
  
    font-size: 18px;  
    user-select: none;
}

.container
{
    position: relative;
    right: 0px;
}

.project
{
    border-color: var(--banner);
}

.elementText
{
    margin: auto;
}

.content 
{
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #112232;
    border-color: #112232;
    display: none;
    overflow: hidden;
}

.settingDots, .addProject, .addTask, .checked, .unchecked
{
    position: absolute;    
    border-radius: 15px;
    padding-right: 3px;
    padding-left: 3px;
    cursor: pointer;
    font-size: medium;
}

.settingDots
{
    top: 1px;
    right: 5px;
    border: 3px solid var(--bg1);
}
.settingDots:hover
{
    background-color: var(--bg1);
    color: white;
}

.addProject 
{
    top: 1px;
    right: 98px;
    border: 3px solid red;
}
.addProject:hover
{
    background-color: red;
    color: white;
}

.addTask 
{
    top: 1px;
    right: 23px;
    border: 3px solid green;
}
.addTask:hover 
{
    background-color: green;
    color: white;
}

.checked, .unchecked
{
    border-radius: 50%;
    cursor: pointer;
    display: block;

    top: 15%;
    left: 5px;
    padding: 0;

    aspect-ratio: 1 / 1;
    height: 60%;
}

.checked
{
    background-color: #66bb6a;
    border: 2px solid #66bb6a;
}

.unchecked
{
    background-color: #fff;
    border: 2px solid #ccc;
    background-color: var(--bg2);
}

  .checkbox-wrapper-18 .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 8px;
    opacity: 0;
    position: absolute;
    top: 9px;
    transform: rotate(-45deg);
    width: 12px;
  }

  .checkbox-wrapper-18 .round input[type="checkbox"] {
    visibility: hidden;
    display: none;
    opacity: 0;
  }